extends base.pug

block scripts
//-   script(src='/static/index.js')

block style
    style 
        include style.css 
        include about.css 

block content
    div#bg
        section#IntroSection
            h2 About
            div.mid Welcome to the heart of dance excellence! At our academy, passion meets precision. Join us for an unforgettable journey where every step tells a story. Our expert instructors guide you through diverse dance forms, unlocking your potential. Experience the joy of movement, expression, and community at RAP's Academy!
            