extends base.pug

block scripts
//-   script(src='/static/index.js')

block style
    style 
        include style.css 
        include class_info.css 

block content
    div#bg
        section#IntroSection
            h2 Classes
            div.mid Explore the art of dance with our academy's diverse classes in India. From Bharatanatyam to Odissi, experience the richness of Indian classical dance. Our expert instructors blend tradition with innovation, offering Nritta, Nritya, and Natya in each class. Join us for a journey of rhythmic expression and cultural exploration.