extends base.pug

block scripts
//-   script(src='/static/index.js')

block style
    style 
        include style.css 
        include service.css 

block content
    div#bg
        section#IntroSection
            h2 Services
            div.mid Step into a world of dance excellence with our academy's exceptional services! From personalized coaching to group classes, we tailor our offerings to your dance dreams. Experience the joy of learning in a vibrant community. Join us and let the rhythm of our dedicated service elevate your dance journey!